<?xml version="1.0"?>
<configuration>
  <!-- Necessary to get the sections below read properly.-->
  <configSections>
    <sectionGroup name="fiftyOne">
      <section name="log" type="FiftyOne.Foundation.Mobile.Configuration.LogSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
      <section name="redirect" type="FiftyOne.Foundation.Mobile.Configuration.RedirectSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
      <section name="detection" type="FiftyOne.Foundation.Mobile.Detection.Configuration.DetectionSection, FiftyOne.Foundation" requirePermission="false" allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Detector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <fiftyOne>        
    <!--<log> element controls where and how much information should be recorded in the log.    
    logFile   The location of the log file. (Mandatory)
    logLevel  Values include Debug|Info|Warn|Fatal and control the level of information
              logged. Defauls to Fatal if not specified. (Optional)-->
    <log logFile="~/App_Data/Log.txt" logLevel="Info"/>

    <!--<detection> element controls where the data files used are provided. If it is not present
    the embedded device data will be used. This is the default behaviour.
    If a Premium Data license key is present in a file with the extension .lic in the bin folder,
    or provided in the FiftyOne.Foundation.Mobile.Detection.Constants.PremiumLicenceKey constant the
    binaryFilePath attribute of the detection element must be provided and the worker process must have
    modify access to the file to enable automatic updates to be downloaded.
    
    binaryFilePath  Path to the binary data file. (Optional - Lite / Mandatory - Premium)
    shareUsage      Set to true to share usage information with 51Degrees.mobi. Read the Usage Data FAQ 
                    to learn more. Defaults to True if not specified. (Optional)
    xmlFiles/add    Provides one or more data files in XML form to use for detection.
      name          The unique internal name of the XML file. (Mandatory)
      filePath      Path to the xml format file. (Mandatory)
      enabled       True or false to enable or disable processing the file. Default true. (Optional)
    -->

    <detection binaryFilePath="~/App_Data/51Degrees-LiteV3_1.dat"/>

  </fiftyOne>
</configuration>