<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Pipelines.HttpRequest.DeviceResolver, Sitecore.Kernel">
          <patch:attribute name="type">Sitecore.SharedSource.MobileDeviceDetector.DeviceResolver, Sitecore.SharedSource.MobileDeviceDetector</patch:attribute>
        </processor>
      </httpRequestBegin>
    </pipelines>
    <settings>
      <!--  
	      Determines whether the module is enabled or not
      -->
      <setting name="Sitecore.SharedSource.MobileDeviceDetector.Enabled" value="true"/>      
    </settings>
  </sitecore>
</configuration>